# Forcer l'exclusion des fichiers compilés et des rendus qui faussent les stats
*.class linguist-vendored
*.pdf linguist-vendored
*.vpp linguist-vendored
*.jar linguist-vendored

# Ignorer les dossiers binaires et les rendus officiels pour le calcul des stats
java-desktop-app/bin/** linguist-vendored
rendus-officiels/** linguist-vendored

# S'assurer que les langages principaux sont bien détectés
*.java linguist-detectable=true
*.php linguist-detectable=true
*.sql linguist-detectable=true
